<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
</head>
<body>

<h2>Add Book</h2>

<form th:action="@{/save}" th:object="${book}" method="post">

    Author:
    <input type="text" th:field="*{author}" />
    <br>

    Title:
    <input type="text" th:field="*{title}" />
    <br>

    ISBN:
    <input type="text" th:field="*{isbn}" />
    <br>

    Year:
    <input type="number" th:field="*{publicationYear}" />
    <br>

    Category:
    <select th:field="*{category.id}">
        <option value="">-- Select category --</option>

        <option th:each="cat : ${categories}"
                th:value="${cat.id}"
                th:text="${cat.name}">
        </option>
    </select>
    <br><br>

    <button type="submit">Save</button>
</form>

</body>
</html>
